In [2]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [3]:
df = pd.read_csv("C:/ss/CppPrograms/homeprices.csv")

In [4]:
df

   area  bedroom  age   price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      NaN   18  610000
3  3600      3.0   30  595000
4  4000      5.0    8  760000
5  4100      6.0    8  810000

In [6]:
df.bedroom.median()

4.0

In [10]:
df.bedroom=df.bedroom.fillna(df.bedroom.median())

In [11]:
df

   area  bedroom  age   price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      4.0   18  610000
3  3600      3.0   30  595000
4  4000      5.0    8  760000
5  4100      6.0    8  810000

In [12]:
reg = linear_model.LinearRegression()

In [13]:
reg.fit(df.drop('price',axis='columns'),df.price)

LinearRegression()

In [21]:
reg.predict([[3200,3,45]])

array([504662.15042557])

In [22]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [23]:
reg.intercept_

221323.00186540443